<div id="poems-index" class="col-md-12 col-sm-12">
  <%= render 'poems/poems_index' %>
</div>
<div class="center-pagination">
  <%= link_to_next_page(@poems, 'Ver más', remote: true, class: 'more-poems-link') %>
</div>
