<div id="poems-index" class="col-md-12 col-sm-12">
  <% @poems.each do |poem| %>
    <%= link_to image_tag(poem.image.index_size.url),
                poem_path(poem),
                class: 'poem-image'
    %>
  <% end %>
</div>
<div class="center-pagination">
  <%= paginate @poems %>
</div>
