<%= form_tag poems_path, method: :get do %>
  <div class="page-header">
    <div class="input-group">
      <div class="search-for-list">
        <span id="first-loupe"><%= image_submit_tag("white_loupe.png") %></span>
        <%= text_field_tag :query,
                               params[:query],
                               autocomplete: 'off',
                               placeholder: "Search for...",
                               class: "search-form-control typeahead" %>
      </div>
    </div>
  </div>
<% end %>
