<div id="artists-list">
  <ul class="list-menu col-md-5 col-sm-10">
    <% @artists.each do |artist| %>
      <li class="artist-item">
        <%= link_to artist.name, scoped_index_artists_path(artist_id: artist.id), class: 'artist-name' %>
      </li>
    <% end %>
  </ul>
</div>
