<div id="hits-index" class="col-md-10 col-sm-12">
  <% @hits.each do |hit| %>
    <%= link_to image_tag("greatest_hits/greatesthits_#{hit}"),
                poems_path(query: hit),
                class: 'hit-box'
    %>
  <% end %>
</div>

