<div id="hits-index">
  <div class="row">
    <% @hits.each do |hit| %>
      <div class="col-xs-3 col-md-2 col-sm-2 no-padding">
        <%= link_to image_tag("greatest_hits/greatesthits_#{hit}"), poems_path(hit: hit) %>
      </div>
    <% end %>
  </div>
</div>

