<li
  class="c-pagination__item <%= 'is-current' if page.current? %>"
  aria-label="Page <%= page %>"
>
  <% if page.current? %>
    <span class="show-for-sr">You're on page</span> <%= page %>
  <% else %>
    <%= link_to page, url, {:class => 'c-pagination__link', :remote => remote, :rel => page.next? ? 'next' : page.prev? ? 'prev' : nil} %>
  <% end %>
</li>
