<li class="c-pagination__item">
  <%= link_to url, {:class => 'c-pagination__link', :rel => 'prev', :remote => remote} do %>
    <svg class="c-pagination__arrow" width="16" height="16">
      <use xlink:href="/packs/sprite.svg#chevron-left"></use>
    </svg>
  <% end %>
</li>
