/* Sidebar and top nav bar
-------------------------------------------------- */

:focus {
  outline: none;
}
.row {
  margin-right: 0;
  margin-left: 0;
}
.side-menu {
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: #f8f8f8;
  border-right: 1px solid #e7e7e7;
}
.side-menu .navbar {
  border: none;
  text-align: right;
  padding: 25px 40px 0 0;
}
.side-menu .navbar-header {
  width: 100%;
}
.side-menu .navbar-nav .active a {
  background-color: transparent;
  margin-right: -1px;
  border-right: 5px solid #e7e7e7;
}
.side-menu .navbar-nav li {
  display: block;
  width: 100%;
}
.side-menu .navbar-nav li a {
  padding: 15px;
}
.navbar-default .navbar-nav>li>a {
  color: #d22d61 !important;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #5caddc !important;
}
.navbar-default .navbar-nav>li>a:active {
  color: #5caddc !important;
}
.side-menu .brand-name-wrapper {
  min-height: 190px;
}
.side-menu .brand-name-wrapper .navbar-brand {
  display: block;
}
/* Main body section */
.side-body {
  margin-left: 300px;

}
.menu-small {
  display: none;
}
.side-menu .navbar-toggle-menu>a>img {
  display: none;
}
.navbar-toggle-menu {
  display: none;
}
/* small screen */
@media (max-width: 760px) {
  .navbar-toggle {
    float: left;
    padding: 18px;
    margin: 0;
    background-color: #f3f3f3;
    border-radius: 0 !important;
  }
  .navbar-default .navbar-toggle {
    border: transparent;
    width: 120px;
    height: auto;
    padding: 0 15px 0 15px;
    margin: 0;
    border-top: solid 1px lightblue !important;
  }
  .navbar-toggle-menu {
    border-right: solid 1px lightblue !important;
    padding:0 !important;
    display: block;
  }
  .side-menu {
    position: relative;
    width: 100%;
    height: 0;
    border-right: 0;
  }
  .side-menu .navbar {
    padding: 10px;
  }
  .side-menu .brand-name-wrapper {
    text-align: left;
    padding-left: 10%;
  }
  .side-menu .brand-name-wrapper>a>img{
    display: none;
  }
  .side-menu .navbar-toggle-menu>a>img {
    display: block;
    height: 135px;
    width: auto;
    padding-bottom: 10px;
  }
  .side-menu .brand-name-wrapper>a>img {
    padding-right: 5%;
    padding-bottom: 2%;
    border-right: solid 1px lightblue;
    width: 120px;
    height: auto;
  }
  .side-menu .brand-name-wrapper .navbar-brand {
    display: inline-block;
  }
  .social-icons-list {
    line-height: 250%;
    list-style-type: none;
    padding: 2% 0 0 0%;
  }
  .social-icons-list .social-icon {
    content: " \f0d7";
    display: inline;
    text-align: right;
    padding-left: 5px;
  }
  .social-icons-list .social-icon>a>img {
    width: 20px;
    height: auto;
  }
  .menu-small {
    display: block;
  }
  /* Slide in animation */
  @-moz-keyframes slidein {
    0% {
      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @-webkit-keyframes slidein {
    0% {
      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @keyframes slidein {
    0% {
      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @-moz-keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }
  @-webkit-keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }
  @keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }
  /* Slide side menu*/
  /* Add .absolute-wrapper.slide-in for scrollable menu -> see top comment */
  .side-menu-container > .navbar-nav.slide-in {
    -moz-animation: slidein 300ms forwards;
    -o-animation: slidein 300ms forwards;
    -webkit-animation: slidein 300ms forwards;
    animation: slidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .side-menu-container > .navbar-nav {
    /* Add position:absolute for scrollable menu -> see top comment */
    position: fixed;
    left: -300px;
    width: 300px;
    top: 43px;
    height: 100%;
    border-right: 1px solid #e7e7e7;
    background-color: #f8f8f8;
    -moz-animation: slideout 300ms forwards;
    -o-animation: slideout 300ms forwards;
    -webkit-animation: slideout 300ms forwards;
    animation: slideout 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  @-moz-keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 300px;
    }
  }
  @-webkit-keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 300px;
    }
  }
  @keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 300px;
    }
  }
  @-moz-keyframes bodyslideout {
    0% {
      left: 300px;
    }
    100% {
      left: 0;
    }
  }
  @-webkit-keyframes bodyslideout {
    0% {
      left: 300px;
    }
    100% {
      left: 0;
    }
  }
  @keyframes bodyslideout {
    0% {
      left: 300px;
    }
    100% {
      left: 0;
    }
  }
  /* Slide side body*/
  .side-body {
    margin-left: 5px;
    margin-top: 220px;
    position: relative;
    -moz-animation: bodyslideout 300ms forwards;
    -o-animation: bodyslideout 300ms forwards;
    -webkit-animation: bodyslideout 300ms forwards;
    animation: bodyslideout 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .body-slide-in {
    -moz-animation: bodyslidein 300ms forwards;
    -o-animation: bodyslidein 300ms forwards;
    -webkit-animation: bodyslidein 300ms forwards;
    animation: bodyslidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
}
body {
  font-family: "Avenir";
  font-size: 14px;
  color: #666;
  line-height: 1.5em;
  background: #pink; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-75deg, #5caddc, #d22d61); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-75deg, #5caddc, #d22d61); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-75deg, #5caddc, #d22d61); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-75deg, #5caddc, #d22d61); /* Standard syntax */
}

