.poem-row {
  float: none !important;
  margin: 30px auto;
  img {
    height: 100%;
    width: 100%;
  }
}

.social-media-row {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

#twitter {
  padding-top: 20px;
}

#facebook {
  padding: 16px 15px 0 25px;
}

#poems-index {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  float: none;
  justify-content: center;
}
.poem-image {
  margin: 10px;
}
