.page-header {
  border-bottom: 1px solid #eee;
  margin-top: 40px;
  margin-left:0px;
}

.search-for-list {
  padding: 0px;
  margin: 0px;
  display: inline-flex;
}

#first-loupe {
  display: none;
}

@media (min-width: 620px) {
  #first-loupe {
    display: inline;
  }
}

#last-loupe {
  display: inline;
}

#last-loupe  input{
  width: 25px;
}

@media (min-width: 620px) {
  #last-loupe {
    display: none;
  }
}
